{% extends 'base.html' %}
{% load static %}
{% block body %}
  <section class="content-contact">
      <h3 class="content-item" id="title">Contact me on</h3>
        <table class ="content-item" >
                <tr class="content-table">
                  <td ><img src="{% static 'images/gmaillogo.png' %}" class="content-logo"></img></td>
                  <td "content-item" id="desc">amaliahanisafitri@gmail.com</td>
                </tr>
                <tr class="content-table">
                  <td><img src="{% static 'images/whatsapp-512.png' %}" class="content-logo"></img></td>
                  <td "content-item" id="desc">+6283150263683</td>
                </tr>
              </table>        
  </section>
  <div class="container backpanels">
    <div class="panel panel-default backpanels">
        <div class="row">
            <div class="col-8">
                <p class="content-item" id="title">Please leave a feedback</p>
                <form action="" method="POST">
                  {% csrf_token %}
                    {{form}}
                    <button type="submit" class="submit button primary">Send</button>

                    <div class ="grid-x">
                        {% for feed in feedback %}
                          <div class = "small-4 cell">
                            <p class="content-item" id="desc"> {{feed.title}} </p>
                            <p class="content-item" id="desc2"> "<i>{{feed.date}}</i> <i>{{feed.time}}</i>" </p>
                          </div>
                        {% endfor %}
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  {% endblock %}
