{% load static %}
<footer>
    <div class="container">
        <ul id="horizontal-list">
            <li>
                <a href="https://www.facebook.com/amelia.han.902">
                    <img src="{% static 'images/facebook(1).svg' %}" class="content-logo2" ></img>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/_amelhf">
                    <img src="{% static 'images/social-instagram-new-circle-512.png' %}" class="content-logo2" /></img>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/amalia-hanisafitri-4b436a180">
                    <img src="{% static 'images/linked-in.png' %}" class="content-logo2" /></img>
                </a>
            </li>
        </ul>
    </div>
  </footer>