{% extends 'base.html' %}
{% load static %}
{% block body %}

  <section class="content">
    <div class="container">
    <p class="content-item" id="title">Welcome to My Website</p>
    <img src="{% static 'images/Amalia.jpg' %}" class="content-item" id="pp" alt="Profile Photo"></img>
    <p class="content-item" id="desc">Hello, I’m Amalia Hanisafitri. I’m a Computer Science student at University of Indonesia</p>
  </div>
  </section>

  {% endblock %}
