{% load static %}
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/home-logo.png' %}" width="40" height="40" alt="home">
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/profile">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
</nav>
