.nav {
    background-color:#2A77A3;
  }
  
  .nav-link.active{
    background-color: #478EB6;
  }
  
  .navbar {
    justify-content: space-between;
    padding-bottom: 0px;
    background-color: #0D5D8A;
    height:60px;
    padding-top: 15px;
    width: 100%;
  }
  
  .navbar-brand {
    margin-top: -10px;
  }
  
  .nav-link{
    color: #fff;
  }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #fff;
    background-color: #478EB6;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #478EB6;
  }
  
  .nav-item{
    font-size: 20px;
  }
  
  .bg-light {
    background-color: #0D5D8A !important;
  }
  
  body{
    background-color: #478EB6;
    color: white;
    text-align: center;
    
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:#383838;
    color: white;
    padding: 20px;
  }
  
  .content{
    color: #fff;
    text-align: center;
    padding: 50px;
  }
  
  #pp{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius:50%;
    margin-bottom: 40px;
  }
  
  #ppprofile{
    max-width: 170px;
    max-height: 170px;
    border-radius:50%;
    margin-left: -10px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  
  #title{
    font-size: 3vw;
  }
  
  #desc{
    font-size: 2vw;
  }
  #desc2{
    font-size: 1vw;
  }
  #descblack{
    font-size: 1vw;
    color: black;
  }

  .kotak{
      background-color: #fff;
  }
  
  .col{
    color: #fff;
    text-align: center;
  }
  
  .col-8{
    color: #fff;
  }
  
  .container {
    width: 100%;
  }
  
  table{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    padding : 50px;
  }
  
  .list-org{
    margin-top: 30px;
  }
  
  .content-contact{
    color: #fff;
    text-align: center;
    padding: 50px;
    /* margin-top: 50px;
    padding-left: 300px;
    padding-right: 300px; */
  }
  
  .content-profile{
    padding: 50px;
  }
  
  .content-logo{
    width: 40px;
    height: 40px;
  }
  
  .content-logo2{
    width: 25px;
    height: 25px;
  }
  
  #photo-1{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius:25%;
  }
  
  .table {
      display: table;   /* Allow the centering to work */
      margin: 0 auto;
  }
  
  ul#horizontal-list {
      /* min-width: 696px; */
      list-style: none;
    text-align-last:right;
    color: #fff;
    margin : -5px;
    }
  
  ul#horizontal-list li {
    display: inline;
    padding: 5px;
  }
  
  #breadcrumb{
    margin-left: 0px;
  }
  
  .activity{
    padding: 50px;
  }
  